fastapi
uvicorn[standard]
firebase-admin
pydantic-settings
debugpy
ruff
pytest
httpx
pytest-asyncio
pre-commit
pydantic[email]
sqlalchemy
psycopg2-binary
alembic
passlib[bcrypt]
importlib
python-multipart
