# Exemplo de arquivo de variaveis para o ambiente de Staging
# Copie este arquivo para um arquivo chamado 'terraform.tfvars' e preencha com os valores reais.
# NUNCA envie o arquivo 'terraform.tfvars' com senhas ou tokens para o GitHub!

aws_region          = "us-east-2"
environment         = "staging"
instance_type       = "t3.micro"
db_instance_class   = "db.t3.micro"

# Precisa ser um nome unico globalmente (se der erro, mude este nome)
bucket_name         = "vango-app-files-staging-seu-nome-aqui"

# O token de registro obtido no painel de CI/CD do GitLab
gitlab_runner_token = "GLRT-seu-token-de-registro-aqui"